<ion-menu side="end" type="push" contentId="main">
  <ion-header>
    <ion-toolbar color="danger">
      <ion-title>Sumário</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content class="menu">
    <ion-list>
      <ion-item *ngFor="let c of book?.chapters; let i = index" (click)="goToChapter(i)">Capítulo {{i+1}}</ion-item>
    </ion-list>
  </ion-content>
</ion-menu>

<ion-router-outlet id="main"></ion-router-outlet>

<div class="ion-page" id="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-icon class="header-icon" (click)="closeBook()" name="close-outline"></ion-icon>
      </ion-buttons>
      <ion-back-button></ion-back-button>
      <ion-buttons slot="end">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>{{ book?.name }}</ion-title>
    </ion-toolbar>
      <ion-slides class="slider_row slides-custom" [options]="usersSliderConfiguration">
        <ion-slide *ngFor="let user of readingUsers">
          <div class="current_users--reading">
            <ion-avatar>
              <img [src]="user?.userPicture" alt="">
            </ion-avatar>
            <p>{{user?.name}}</p>
          </div>
        </ion-slide>
      </ion-slides>
  </ion-header>
  <ion-content>
    <div class="read-header">
      <h1 text-center>{{ book?.chapter?.name || 'Este capítulo não existe!' }}</h1>
      <i text-center>{{ book?.author }}</i>
    </div> 
    <ion-slides class="slider_row" [options]="mainSliderConfiguration">
      <ion-slide *ngFor="let p of book?.chapter?.pages">
        <div class="slider_card">
          <ion-grid>
            <ion-row>
              <ion-col size='12'>
                <p *ngIf="p" [innerHTML]="p"></p>
              </ion-col>
            </ion-row>
          </ion-grid>
        </div>
      </ion-slide>
    </ion-slides>
  </ion-content>
</div>