ion-header {
    text-align: center;
    ion-title {
        color: white;
        background-color: #88D8B0;
    }
 
}

ion-content {
    ion-col {
        h1 {
            text-align: center;
        } 
        
        i {
            text-align: center;
        }
        p {
            text-align: justify;
        }
    }
}

.my-custom-menu {
    --width: 500px;
}