.category_section {
    margin-left: 1em;
}

ion-searchbar { 
    background: #88D8B0;
}

ion-content {
    --ion-background-color:#FAFAFA;
}

.category-banner, .m_05em {
    margin: .5em;
    cursor: pointer;
}