.background-image{
    --background: url(../../assets/backgrounds/bg-login.svg) 0 0/100% 100% no-repeat;
}

.login-container {
    position: absolute;
    bottom: 6em;
    width: 100%;
    padding: 0em 2em;
}

ion-input {
    margin: 1em 0em;
    border: 1px solid lightgray;
    color: #b3b3b3;
    border: 1px solid lightgray;
    border-radius: .5em;
    padding: 0em 1em !important;
}

button {
    border-radius: 1em;
    padding: 1em 4em;
    background-color: #88D8B0;
    color: white;
    width: 100%;
    font-size: 1em;
}