<ion-header [translucent]="true">
  <ion-searchbar showCancelButton="never" placeholder="Procure por um livro que goste"></ion-searchbar>

</ion-header>

<ion-content [fullscreen]="true"> 

    <div *ngFor="let cat of sections" class="category-block">

      <ion-row no-padding class="category-banner">
        <ion-col text-left align-self-center>
          {{ cat?.category }}
        </ion-col>
      </ion-row>

      <ion-slides [options]="sliderConfiguration">
        <ion-slide *ngFor="let book of cat.books" class="category_section">
            <ion-card class="m_05em">
              <img src="assets/covers/1.jpg" />
              <!-- <ion-card-header>             
                {{ book?.name }}
              </ion-card-header> -->
            </ion-card>          
        </ion-slide>
      </ion-slides>

    </div>
 
</ion-content>