<ion-content [fullscreen]="true">
    <ion-avatar class="center-object">
      <img src="../../assets/photos/{{ currentUser?.photo }}">
    </ion-avatar>    
    <h1 text-center>{{ currentUser?.username }}</h1>
    <p text-center>{{ currentUser?.status || 'Sem Status' }}</p>

    <section class="highlight-container">
      <p>Nível {{ currentUser?.level || 0 }}</p>
      <ion-progress-bar value="{{ currentUser?.levelProgress / 100 }}"></ion-progress-bar>
    </section>

    <ion-grid>
      <ion-row>
        <ion-col size="6">
          <ion-card class="highlight-container">
            <div class="stats">
              <label>Pontos</label>
              <p>{{ currentUser?.score || 0 }}</p>
            </div>          
          </ion-card>
        </ion-col>
        <ion-col size="6">
          <ion-card class="highlight-container">
            <div class="stats">
              <label>Livros Lidos</label>
              <p>{{ currentUser?.completedBooks || 0 }}</p>
            </div>    
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>

    .
    <ion-row class="divider">
      <ion-col text-left align-self-center>
        Favoritos
      </ion-col>
    </ion-row>
    <ion-slides [options]="sliderConfiguration">
      <ion-slide *ngFor="let userBooks of currentUser?.currentReadings" class="category_section">
          <ion-card class="m_05em" *ngIf="userBooks.favorite" (click)="navigate(userBooks.book)" style="cursor: pointer;">
            <img [src]="userBooks?.book?.cover" />
          </ion-card>          
      </ion-slide>
    </ion-slides>
</ion-content>
