<ion-header>
  <!-- <div class="book-header">
    <ion-row>
      <ion-icon name="arrow-back-outline"></ion-icon>
      <p class="back-button">Voltar</p>
    </ion-row>
  </div> -->
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="Voltar"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-col>
    <ion-row class="m-l">
      <ion-card class="card">
        <img src="{{ book?.cover }}" />
      </ion-card>

      <ion-col>
        <div class="m-t">
          <ion-icon name="star-outline"></ion-icon>
          <ion-icon name="star-outline"></ion-icon>
          <ion-icon name="star-outline"></ion-icon>
          <ion-icon name="star-outline"></ion-icon>
          <ion-icon name="star-outline"></ion-icon>
          <p class="title"><b>{{ book?.name }}</b></p>
          <p class="title autor">Por {{ book?.author }}</p>
        </div>

        <div class="class-book">
          <p class="class-book-p">{{ book?.gender }}</p>
        </div>
      </ion-col>
    </ion-row>

    <p class="margin"><b>Sobre</b></p>
    <p class="margin" style="font-size: 10px;">{{ book?.description }}</p>

    <ion-row>
      <ion-icon name="document-outline" class="margin"></ion-icon>
      <p class="infos">{{ book?.numberPages }}</p>
    </ion-row>

    <ion-row>
      <ion-icon name="calendar-outline" class="margin"></ion-icon>
      <p class="infos">Publicado em {{ book?.publicationDate }}</p>
    </ion-row>

    <ion-row>
      <ion-icon name="book-outline" class="margin"></ion-icon>
      <p class="infos">6.364 pessoas leram esse livro</p>
    </ion-row>

    <ion-row class="button-margin">
      <button class="button-details">
        <ion-icon name="download-outline"></ion-icon> Baixar
      </button>
      <button class="button-details">
        <ion-icon name="heart-outline"></ion-icon> Favoritar
      </button>
    </ion-row>

    <p class="margin"><b>Comentarios</b></p>
    <ion-row class="margin">
      <div class="user-image"></div>
      <ion-col>
        <ion-row>
          <p class="margin coment-name">Nome Sobrenome</p>
          <div class="comment-margin">
            <ion-icon name="star-outline"></ion-icon>
            <ion-icon name="star-outline"></ion-icon>
            <ion-icon name="star-outline"></ion-icon>
            <ion-icon name="star-outline"></ion-icon>
            <ion-icon name="star-outline"></ion-icon>
          </div>
        </ion-row>
        <p class="margin f-s"> comentario comentario comentario comentario comenatario comenatario
        </p>
      </ion-col>
    </ion-row>
  </ion-col>


</ion-content>

<ion-footer>
    <button ion-button class="btn-full" (click)="read()" full>Iniciar Leitura</button>
</ion-footer>