<ion-header>
  <div class="book-header">
    <ion-row>
      <ion-icon name="arrow-back-outline"></ion-icon>
      <p class="back-button">Voltar</p>
    </ion-row>
  </div>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-col>
    <ion-row class="m-l">
      <ion-card class="card">
        <img src="assets/covers/1.jpg" />
      </ion-card>

      <ion-col>
        <div class="m-t">
          <ion-icon name="star-outline"></ion-icon>
          <ion-icon name="star-outline"></ion-icon>
          <ion-icon name="star-outline"></ion-icon>
          <ion-icon name="star-outline"></ion-icon>
          <ion-icon name="star-outline"></ion-icon>
          <p class="title"><b>O meu pé de laranja lima</b></p>
          <p class="title autor">Por jose mouro de vasconcelos</p>
        </div>

        <div class="class-book">
          <p class="class-book-p">Infantil</p>
        </div>
      </ion-col>
    </ion-row>

    <p class="margin"><b>Sobre</b></p>
    <p class="margin" style="font-size: 10px;">Meu Pé de Laranja Lima ou O Meu Pé de Laranja Lima é um romance juvenil,
      escrito por José
      Mauro de Vasconcelos e publicado em 1968. Foi traduzido para 52 línguas e publicado em 19 países, adotado em
      escolas e adaptado para o cinema, televisão e teatro.</p>

    <ion-row>
      <ion-icon name="document-outline" class="margin"></ion-icon>
      <p class="infos">110 paginas</p>
    </ion-row>

    <ion-row>
      <ion-icon name="calendar-outline" class="margin"></ion-icon>
      <p class="infos">Publicado em 1968</p>
    </ion-row>

    <ion-row>
      <ion-icon name="book-outline" class="margin"></ion-icon>
      <p class="infos">6.364 pessoas leram esse livro</p>
    </ion-row>

    <ion-row class="button-margin">
      <button class="button-details">
        <ion-icon name="download-outline"></ion-icon> Baixar
      </button>
      <button class="button-details">
        <ion-icon name="heart-outline"></ion-icon> Favoritar
      </button>
    </ion-row>

    <p class="margin"><b>Comentarios</b></p>
    <ion-row class="margin">
      <div class="user-image"></div>
      <ion-col>
        <ion-row>
          <p class="margin coment-name">Nome Sobrenome</p>
          <div class="comment-margin">
            <ion-icon name="star-outline"></ion-icon>
            <ion-icon name="star-outline"></ion-icon>
            <ion-icon name="star-outline"></ion-icon>
            <ion-icon name="star-outline"></ion-icon>
            <ion-icon name="star-outline"></ion-icon>
          </div>
        </ion-row>
        <p class="margin f-s"> comentario comentario comentario comentario comenatario comenatario
        </p>
      </ion-col>
    </ion-row>
  </ion-col>


</ion-content>