<ion-header [translucent]="true">

</ion-header>

<ion-content [fullscreen]="true"> 

    <ion-slides class="slider_row" [options]="sliderConfiguration">
      <ion-slide *ngFor="let book of books">
          <ion-card class="slider_card">
            <img src="assets/covers/1.jpg"/>
            <h1>{{ book?.name }}</h1>

            <ion-progress-bar value="{{ book?.progress }}"></ion-progress-bar>

            <ion-button expand="full" color="secondary">A full-width button</ion-button>
          </ion-card>    
      </ion-slide>
    </ion-slides>

</ion-content>
