
.io-container {
    padding: 0em 2em;
}

ion-content {

    .slider_row {
        margin-top: 2em;
    }

    ion-row.divider {
        margin: 2em 0em 0em 1em;    
    }

    ion-col.read_books {
        font-weight: bold;
        text-align: center;
        color: white;
        h2 {
            margin: .3em 0em;
            font-weight: bolder;
        }
    }

    h1 {
        font-size: initial;
        font-weight: bold;
    }

    ion-card.green-card {
        background-color: #88D8B0;
        color: black;
    }

    ion-progress-bar {
        margin: 1em 0em;
        height: 1em;
        border: 1px solid lightgray;
        border-radius: .5em;
    }

    p {
        font-size: small;
    }
    
    .slider_card {
        img {
            width: 80%;
            border-radius: 1em;
        }
    
        button {
            border-radius: 1em;
            padding: 1em 4em;
            background-color: #88D8B0;
            color: white;
        }
    }
}
