<ion-header [translucent]="true">

</ion-header>

<ion-content [fullscreen]="true">

  <ion-slides class="slider_row" [options]="mainSliderConfiguration">
    <ion-slide *ngFor="let readingBook of user?.currentReadings">
      <div class="slider_card">
        <img [src]="readingBook?.book?.cover" />
        <h1>{{ readingBook?.book?.name }}</h1>
        <p>{{ readingBook?.book?.author }}</p>
        <div class="io-container">
          <ion-progress-bar color="success" value="{{ readingBook?.readingProgress }}"></ion-progress-bar>
        </div>
      </div>
    </ion-slide>
  </ion-slides>

  <ion-row class="divider">
    <ion-col text-left align-self-center>
      Fila de livros
    </ion-col>
  </ion-row>

  <ion-slides [options]="secondarySliderConfiguration">

    <ion-slide *ngFor="let readingBook of user?.currentReadings">
      <ion-card>
        <img [src]="readingBook?.book?.cover" />
      </ion-card>
    </ion-slide>
  </ion-slides>

  <ion-card class="green-card">
    <ion-row>
      <ion-col size="8">
        <img src="assets/icon/ReadingGirl.svg" alt="icon">
      </ion-col>
      <ion-col size="4" class="read_books">
          <p text-center>Você tem</p>
          <h2 text-center>{{ user?.readBooks || 0 }}</h2>
          <p text-center>livros lidos</p>
      </ion-col>
    </ion-row>
  </ion-card>

</ion-content>